<div class="my-2">
  <% if (flashMassege.success) { %>
  <div
    class="alert alert-success alert-dismissible fade show my-3"
    role="alert"
  >
    <%= flashMassege.success %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %> <% if (flashMassege.fail) { %>
  <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
    <%= flashMassege.fail %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
</div>
